node_modules/
server/src/http/**/*.js
server/src/lib/**/*.js
*.jic
.arc-env
sam.json
sam.yaml
/server/coverage/
/client/coverage/
# react-app compiled assets (these are regengerated by re-building src/react-app/
/server/public/
!/server/public/readme.md
/client/src/**/*.js
/client/public/static/vendor/svg-injector/
/client/public/static/vendor/bootstrap/
/client/public/static/vendor/cookieconsent/
/client/public/static/vendor/jquery/
/client/public/static/vendor/popper.js/
